@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@300;400;500;600;700&family=Prompt:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Gopher'; /* Escolha um nome para sua fonte */
    src: url('public/font/Gopher-Black.otf') format('opentype');
  }

  *{
    box-sizing: border-box;
  }


  :root {
    --font-main: "Montserrat", sans-serif;
    --fonte-banner: "DM Sans", sans-serif;
    --font-size-title: clamp(20px, 5vw, 37px);
    --font-size-titleMain: clamp(30px, 5vw, 60px);
    --font-size-titleContentContainer: clamp(24px, 5vw, 48px);
    --font-size-text: clamp(20px, 3vw, 30px);
    --font-size-listBlog: clamp(14px, 3vw, 20px);
    --font-size-button: clamp(16px, 3vw, 22px);

  }

 


  
  .word {

    width: 95%;

    overflow-wrap: break-word;  

    word-wrap: break-word; 

    word-break: break-word;

}

.limitator{
  width: 100%;
}

.limitatorTwo{
  width: 92%;
}

@media screen and (min-width: 728px){
 

  .limitator{
    width: 95%;
  }

  .limitatorTwo{
    width: 94%;
  }
}

@media screen and (min-width: 960px){
  .limitatorTwo{
    width: 80%;
  }
}

@media screen and (min-width: 960px){
  .limitator{
    width: 80%;
  }

  .word {
    width: 85%;
  }
}




/* menu */


.ul_nav{
  font-size: 22px;
  list-style: none;
  font-family: var(--fonte-banner);
  display: none; 

}

.ul_nav li a{
  text-decoration: none;
  color: #4d4c4c;
  font-family: var(--fonte-banner);
  font-weight: 600;
}

.ul_nav li:hover, .ul_nav li:focus{
  transform: scale(1.05);

}

.menu a {
  /* color: black; */
  font-weight: bold;
  /* background-color: white; */
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100px;
}

/*Esta classe será MANIPULADA via JS*/
.menu-aberto{
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  z-index: 9998;
  margin-top: 25px;
}

#span-menuOne {
  animation: rotateAnimationOne 0.1s linear forwards;
  transform: translateZ(0);

}

@keyframes rotateAnimationOne {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-40deg);
  }
}

 #span-menuTwo {
  display: none;
 }


#span-menuThree {
  animation: rotateAnimationThree 0.1s linear forwards;
  transform: translateZ(0);

}

@keyframes rotateAnimationThree {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(30deg);
  }
}



